<!-- Creative Design -->
<div class="fh5co-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>{{ content.field_title.0 }}</h2>
        {{ content.field_description.0 }}
      </div>
      <div class="col-md-7">
        <img src="{{ file_url(paragraph.field_image.entity.field_media_image.entity.fileuri) }}" alt="Free HTML5 by FreeHTML5.co" class="img-responsive">
      </div>
    </div>
  </div>
</div>